<section id="donate-widget" class="donate-widget">
      <a href="https://localgiving.org/charity/prospex/" title="Donate to Prospex now">💛 Donate Now</a>
    </section>

<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

<section id="subscribe">
		<div class="measure-narrow center mb4">

			<img src="/img/prospex.png" alt="Prospex logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>
			<p>Get awesome news from us in your inbox every two weeks. Be the first to get the latest updates.</p>

			{{ partial "newsletter-form" . }}

		</div>
    </section>

		<div class="flex-ns justify-between">

			<section id="page-links">
				<h3 class="f4 b lh-title mb1 primary">Prospex</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/programmes" class="link">Programmes</a></li>
					<li><a href="/donations" class="link">Donations</a></li>
					<li><a href="/blog" class="link">Blog</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</section>

			<section id="more-info">
				<h3 class="f4 b lh-title mb1 primary">Find out more</h3>
				<ul class="mb3">
					<li><a href="/contact" class="link">Schedule and appointment</a></li>
				</ul>
			</section>

			<section id="social-media">
				<h3 class="f4 b lh-title mb2 primary">Social media</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/prospex.charity/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://twitter.com/prospextweets?lang=en/" "svg" "icons-twitter") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/prospexcharity/" "svg" "icons-instagram") }}
				</ul>
			</section>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>
